:root {
  --mainColor: black;
}

body {
    font-family: arial, helvetica, sans-serif;
    font-size: 14px;
    color: black;
    background-image: url("background.png");
    margin: 10px;
    padding: 0;
}

table{
	border: transparent;
    font-family: 'Consolas', 'Deja Vu Sans Mono', 'Bitstream Vera Sans Mono', monospace;
    font-size: 15px;
	width: auto;
    margin-left:auto;
    margin-right:auto;
}

table#question_table{
	background: rgba(255,255,255,0.15);
	box-shadow: 0px 0px 10px 10px rgba(255, 255, 255, 0.15);
	margin: 2%;
}

table#input{
    font-family: 'Consolas', 'Deja Vu Sans Mono', 'Bitstream Vera Sans Mono', monospace;
    font-size: 15px;
    text-align: left;
}

th{
	border: transparent;
	text-align: center;
}

tr#input{
    border:transparent;
	padding: 1px;
}

td{
	border:transparent;
	padding: 10px;
}

.align-center{
	text-align: center;
}

.delete-div{
	align-content: center;
	font-size: 40px;
}

tr#margin{
	margin: 10px
}


.topborder{
	border-top-style: solid;
    border-top-width: 3px;
	border-top-color:#802d05;
	text-align: center;
}

h1 {
    color: #fafafa;
    background-color: #1a0901	;
    margin: 0;
    margin-bottom: 20px;
    padding: 20px;
    font-style: normal;
    text-align: center;
    border-bottom-style: solid;
    border-bottom-width: 12px;
    border-bottom-color: #802d05;
}

h2 {
    color: white;
    background-color: #1a0901;
    font-size: 1.5em;
    margin: 30px;
    padding: 2px;
    padding-left: 14px;
	border-bottom-style: solid;
	border-bottom-width: 5px;
    border-bottom-color: #802d05;
	text-align: center;
}

a {
    font-family: arial, helvetica, sans-serif;
	text-decoration: None;
    font-size: 30px;
    color:#1a0901;
}

#question:hover{
		color: black;
  -webkit-text-stroke: 2px var(--mainColor);
}

li {
    text-align: left;
    font-size: 35px;
    color: #1a0901;
}

.button {
	-moz-box-shadow:inset 0px 1px 0px 0px #ff5b09;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ff5b09;
	box-shadow:inset 0px 1px 0px 0px #ff5b09;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #802e05), color-stop(1, #993605));
	background:-moz-linear-gradient(top, #802e05 5%, #993605 100%);
	background:-webkit-linear-gradient(top, #802e05 5%, #993605 100%);
	background:-o-linear-gradient(top, #802e05 5%, #993605 100%);
	background:-ms-linear-gradient(top, #802e05 5%, #993605 100%);
	background:linear-gradient(to bottom, #802e05 5%, #993605 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#802e05', endColorstr='#993605',GradientType=0);
	background-color:#802e05;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	border:1px solid #942911;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:13px;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #8c3205;
}
.button:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #993605), color-stop(1, #802e05));
	background:-moz-linear-gradient(top, #993605 5%, #802e05 100%);
	background:-webkit-linear-gradient(top, #993605 5%, #802e05 100%);
	background:-o-linear-gradient(top, #993605 5%, #802e05 100%);
	background:-ms-linear-gradient(top, #993605 5%, #802e05 100%);
	background:linear-gradient(to bottom, #993605 5%, #802e05 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#993605', endColorstr='#802e05',GradientType=0);
	background-color:#993605;
}
.button:active {
	position:relative;
	top:1px;
}

