<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add new answer</title>
    <link rel="stylesheet" type="text/css" href="/static/design.css">
    <link rel="shortcut icon" href="/static/logo.ico" />
</head>
<body>
<h1><table><tr><td width=20% ><div align="center">
    <form action="/search" method="get" >
    <input type="text" name="search_box" placeholder="What are you looking for?"><br>
    <button type="submit" class="button">Search</button></a>
    </form>
</div></td>
<td width=60% style="font-size: 35px">Add answer:</td>
<td width=20% style="font-size: 13px">{% if session.username %}
 You are logged in as <i>{{ session.username }}</i>
<a href="/logout">
    <button type="button" class="button">Log out.</button></a>
{% else %}
<a href="/login">
    <button type="button" class="button">Log in.</button>
</a>
{% endif %}</td></tr></div>
</table></h1>
    <table id="input">
    <form action="" method="post">
    <tr id="input">
        <td>Message:</td>
        <td><textarea name="message" rows="10" cols="30" min="10" max="500" placeholder="Maximum 500 character."></textarea></td>
    </tr>
    <tr id="input">
        <td>Image:</td>
        <td><input type="file" name="image" class="button   "></td>
    </tr>
    <tr id="input">
        <td><button type="submit" class="button">Send!</button><br>
        <a href="/questions/{{question_id}}"> <button type="button" class="button">Back to questions.</button></a></td>
    </tr>
    </form>
    </table>
</body>
</html>