<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add new answer</title>
</head>
<body>
<h1>Add answer:</h1>
    <table>
    <form action="" method="post">
    <tr>
        <td>Message:</td>
        <td><textarea name="message" rows="10" cols="30" min="10" max="500">Maximum 500 character.</textarea></td>
    </tr>
    <tr>
        <td>Image:</td>
        <td><input type="file" name="image"></td>
    </tr>
    <tr>
        <td><button type="submit">Send!</button></td>
    </tr>
    </form>
    </table><br>
    <a href="/questions/{{question_id}}"> <button type="button">Back to questions.</button></a>

</body>
</html>