<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Delete Comment</title>
    <link rel="stylesheet" type="text/css" href="/static/design.css">
    <link rel="shortcut icon" href="/static/logo.ico" />
</head>
<h1><table><tr><td width=20% ><div align="center">
    <form action="/search" method="get" >
    <input type="text" name="search_box" placeholder="What are you looking for?"><br>
    <button type="submit" class="button">Search</button></a>
    </form>
</div></td>
<td width=60% style="font-size: 35px">Do you really want to delete this comment?</td>
<td width=20% style="font-size: 13px">{% if session.username %}
 You are logged in as <i>{{ session.username }}</i>
<a href="/logout">
    <button type="button" class="button">Log out.</button></a>
{% else %}
<a href="/login">
    <button type="button" class="button">Log in.</button>
</a>
{% endif %}</td></tr></div>
</table></h1>
<div class="align-center">
    <a href="/comment/{{question_id}}/{{comment_id}}/delete?confirm=True"><button type="submit" class="button">YES</button></a>
    <a href="/questions/{{question_id}}"> <button type="button" class="button">NO</button></a>
</div>
</body>
</html>