<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Delete question</title>
    <link rel="stylesheet" type="text/css" href="/static/design.css">
    <link rel="shortcut icon" href="/static/logo.ico" />

</head>
<a>
    Do you really want to delete this question?
    <br>
    <a href="/questions/{{question_id}}/delete?confirm=True"><button type="submit" class="button">YES</button></a>
    <a href="/questions/{{question_id}}"> <button type="button" class="button">NO</button></a>

</body>
</html>