<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Editing comment</title>
    <link rel="stylesheet" type="text/css" href="/static/design.css"/>
    <link rel="shortcut icon" href="/static/logo.ico" />
</head>
<body>
<h1><table><tr><td width=20% ><div align="center">
    <form action="/search" method="get" >
    <input type="text" name="search_box" placeholder="What are you looking for?"><br>
    <button type="submit" class="button">Search</button></a>
    </form>
</div></td>
<td width=60% style="font-size: 35px">Edit comment:</td>
<td width=20% style="font-size: 13px">{% if session.username %}
 You are logged in as <i>{{ session.username }}</i>
<a href="/logout">
    <button type="button" class="button">Log out.</button></a>
{% else %}
<a href="/login">
    <button type="button" class="button">Log in.</button>
</a>
{% endif %}</td></tr></div>
</table></h1>
    <table>
    <form action="/comment/{{question_id}}/{{ comment_id }}/edit" method="post">
    <tr>
        <td>Message:</td>
        <td><textarea name="message" rows="10" cols="30" min="10" max="500">{{ comment.message }}</textarea></td>
    </tr>
    <tr>
        <td><button type="submit" class="button">Send!</button><br>
        <a href="/questions/{{comment.question_id}}"> <button type="button" class="button">Back to questions.</button></a></td>
    </tr>
    </form>
    </table><br>

</body>
</html>