<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Latest Questions</title>
    <link rel="stylesheet" type="text/css" href="/static/design.css">

</head>
<body>
<h1>Questions:</h1>
<ol>
    {% for question in list_of_questions %}
        <li>
            <a href="{{ url_for('route_question', question_id=question.id) }}">{{ question.title }}</a>
        </li>
    {% endfor %}
</ol>
<div class="aligin-center">
<a href="/add-question">
    <button type="button" class="button">Ask a question!</button>
</a>
<a href="/list">
    <button type="button" class="button">All questions</button>
</a>
</div>
<p>
    <form action="/search" method="get" >
    <input type="text" name="search_box" placeholder="What are you looking for?">
    <button type="submit">Search</button></a>
    </form>
</p>
</body>
</html>