<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>List Questions</title>
    <link rel="stylesheet" type="text/css" href="static/design.css">
</head>
<body>
<h1>Questions:</h1>
<ol>
    {% for question in list_of_questions %}
        <li>
            <a href="{{ url_for('route_question', question_id=question.id) }}">{{ question.title }}</a>
        </li>
    {% endfor %}
</ol>
<a href="/add-question">
    <button type="button" class="myButton">Ask a question!</button>
</a>
</body>
</html>