<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>List Questions</title>
    <link rel="stylesheet" type="text/css" href="static/design.css">
</head>
<body>
<h1>Questions:</h1>
<ol>
    {% for question in list_of_questions %}
        <li>
            <a href="{{ url_for('route_question', question_id=question.id) }}">{{ question.title }}</a>
        </li>
    {% endfor %}
</ol>
<a href="/add-question">
    <button type="button" class="button">Ask a question!</button>
</a>

<a href="/list?criteria=submission_time&direction=ASC">
    <button type="button">Time A</button>
</a>
<a href="/list?criteria=submission_time&direction=DEC">
    <button type="button">Time D</button>
</a>
<a href="/list?criteria=vote_number&direction=ASC">
    <button type="button">Vote number A</button>
</a>
<a href="/list?criteria=vote_number&direction=DESC">
    <button type="button">Vote number D</button>
</a>
<a href="/list?criteria=view_number&direction=ASC">
    <button type="button">View number A</button>
</a>
<a href="/list?criteria=view_number&direction=DESC">
    <button type="button">View number D</button>
</a>


</body>
</html>