<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Display a question</title>
    <link rel="stylesheet" type="text/css" href="static/design.css">
</head>
<body>
<h1>Questions:</h1>
<table border="1">
    <tr align="center">
        <td>ID</td>
        <td>Submission time</td>
        <td>View number</td>
        <td>Vote number</td>
        <td>Title</td>
        <td>Message</td>
        <td>Image</td>
    </tr>
    <tr>
        {% for item in question_data %}
            {% for data in item.values() %}
            <td align="center">
                {{ data }}
            </td>
            {% endfor %}
        {% endfor %}
    </tr>
</table>
<h1>Answers:</h1>
<table border="1">
    <tr align="center">
        <td>ID</td>
        <td>Submission time</td>
        <td>Vote number</td>
        <td>Question ID</td>
        <td>Message</td>
        <td>Image</td>
        <td> </td>
    </tr>
    {% for item in answers_data %}
    <tr>
        {% for data in item.values() %}
        <td align="center">
            {{ data }}
        </td>
        {% endfor %}
        <td>
            <a href="/answer/{{ item.id }}/edit"><button type="button">Edit answer!</button></a>
        </td>
    </tr>
    {% endfor %}
</table>
<br>
<a href="/questions/{{ question_id }}/new-answer">
    <button type="button" class="myButton">Add answer!</button>
</a><br>
<a href="/list">
    <button type="button" class="myButton">Back to questions.</button>
</a>
<a href="/questions/{{ question_id }}/delete">
    <button type="button" class="myButton">Delete questions.</button>
</a>
</body>
</html>