<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Display a question</title>
    <link rel="stylesheet" type="text/css" href="/static/design.css">
    <link rel="shortcut icon" href="/static/logo.ico" />
</head>
<body>
<h1>Question:</h1>
<table>
    <tr align="center">
        <th>ID</th>
        <th>Submission time</th>
        <th>View number</th>
        <th>Vote number</th>
        <th>Title</th>
        <th>Message</th>
        <th>Image</th>
    </tr>
    <tr>
        {% for item in question_data %}
            {% for data in item.values() %}
            <td align="center">
                {{ data }}
            </td>
            {% endfor %}
        <td>
        <a href="/question/{{ item.id }}/new-comment"><button type="button" class="button"> Add new comment!</button></a>
        </td>
        <td>
            <a href="/questions/{{ item.id }}/like"><button type="button" class="button">👍</button></a>
        </td>
        <td>
            <a href="/questions/{{ item.id }}/dislike"><button type="button" class="button">👎</button></a>
        </td>
        {% endfor %}
    </tr>
    {% if comment_data != None %}
    {% for item in comment_data %}
        {% if item.question_id != None %}

        <tr>
            <td>{{ item.submission_time }}</td>
            <td> {{ item.message }}</td>
            <td><a href="/comment/{{ item.question_id }}/{{ item.id }}/edit"><button class="button">Edit comment!</button></a></td>
            <td><a href="/comment/{{ question_id }}/{{ item.id }}/delete"><button class="button">Delete comment!</button></a> </td>
        </tr>
        {% endif %}
    {% endfor %}
    {% endif %}
</table>
<h2>Answers:</h2>
{% if answers_data|length == 0 %}
<table>
    <tr>
        <td>There is no answer yet.</td>
    </tr>
</table>
{% else %}
<table>
    <th>
        <th>ID</th>
        <th>Submission time</th>
        <th>Vote number</th>
        <th>Question ID</th>
        <th>Message</th>
        <th>Image</th>
    </th>
    {% for item in answers_data %}
    <tr>
        {% for data in item.values() %}
        <td class="topborder" >
            {{ data }}
        </td>
        {% endfor %}
        <td class="topborder">
        </td>
        <td class="topborder">
            <a href="/answer/{{ item.id }}/edit"><button type="button" class="button">Edit answer!</button></a>
        </td>
        <td class="topborder">
            <a href="/answer/{{ item.question_id }}/{{ item.id }}/delete"><button type="button" class="button">Delete answer!</button></a>
        </td>
        <td class="topborder">
            <a href="/answer/{{item.question_id }}/{{ item.id }}/new-comment"><button type="button" class="button"> Add new comment!</button></a>
        </td>
        <td class= "topborder">
            <a href="/answer/{{ item.question_id }}/{{ item.id }}/like"><button type="button" class="button">👍</button></a>
        </td>
        <td class="topborder">
            <a href="/answer/{{ item.question_id }}/{{ item.id }}/dislike"><button type="button" class="button">👎</button></a>
        </td>
    </tr>
    {% for comments in comment_data %}
        {% if item.id == comments.answer_id %}
        <tr>
            <td>{{ comments.submission_time }}</td>
            <td>{{ comments.message }}</td>
            <td><a href="/comment/{{ question_id }}/{{ comments.id }}/edit"><button class="button">Edit comment!</button></a></td>

            <td><a href="/comment/{{ question_id }}/{{ comments.id }}/delete"><button class="button">Delete comment!</button></a></td>
        </tr>

        {% endif %}
    {% endfor %}
    {% endfor %}
</table>
{% endif %}
<div class="align-center">
<a href="/questions/{{ question_id }}/new-answer">
    <button type="button" class="button">Add answer!</button>
</a>
<a href="/list">
    <button type="button" class="button">Back to questions.</button>
</a>
<a href="/questions/{{ question_id }}/delete">
    <button type="button" class="button">Delete question.</button>
</a>
</div>
</body>
</html>