<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="shortcut icon" href="/static/logo.ico" />
    <link rel="stylesheet" type="text/css" href="/static/design.css"/>
    <title>Search</title>
</head>
<body>
    <h1>Search Results:</h1>
    <table>
        {% for search in searching %}
            <a href="questions/{{ search.id }}?search_box={{ search_box }}"</a>
        <li>
            {{ search.title }}
        <tr>
        <td>

            <a href="{{ url_for('raise_view_number', question_id=search.id) }}">{{ search.title }}"</a>

        </td>
        </tr>
    {% endfor %}
</table>
<a href="/list">
    <button type="button" class="button">Back to questions</button>
</body>
</html>